.cover-preview img {
    width: 490px;
}

.loader {
    position: relative;
    display: block;
}

.loader:after {
    opacity: 1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    display: block;
    width: 100%;
}

.loader:before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url('/static/i/chocolate/loader.gif');
    background-size: 32px 32px;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    opacity: 1;
}