<div class="row">
  <div class="col-xs-6">
    <div class="col-xs-10">
      <h3 class="font-size-h3">Заголовок</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet est ac odio tempus condimentum ac in erat. Vestibulum bibendum lacus eget tellus interdum tincidunt. Praesent dui elit, ornare ac luctus congue, pharetra a nunc. Quisque sagittis neque justo, et dapibus orci pellentesque ac. Quisque vehicula ultrices luctus. Curabitur at egestas nunc, a tincidunt ligula. Vivamus mollis purus tellus, nec lacinia tellus venenatis id.</p>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="col-xs-10">
      <h3 class="font-size-h3">Заголовок</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet est ac odio tempus condimentum ac in erat. Vestibulum bibendum lacus eget tellus interdum tincidunt. Praesent dui elit, ornare ac luctus congue, pharetra a nunc. Quisque sagittis neque justo, et dapibus orci pellentesque ac. Quisque vehicula ultrices luctus. Curabitur at egestas nunc, a tincidunt ligula. Vivamus mollis purus tellus, nec lacinia tellus venenatis id.</p>
    </div>
  </div>
</div>
