.double-lines {
  background: url("/src/img/other/lines.png") repeat-x center;
  margin-bottom: 25px;
  text-align: center;
}

.double-lines-inside-content {
  background: #ffffff;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.block-blue-grey {
  background-color: #272727;
  color: #ffffff;
}


.dark-block {

  @background-color: #272727;
  background-color: @background-color;

  color: #ffffff;

  .double-lines-inside-content {
    background-color: @background-color;
    font-weight: 300;
  }

}

.dark-blue-block {

  background-color: #36414e;

  .page-header {
    font-weight: 400;
  }

  color: #ffffff;
}


.block-dark {

  p {
    color: #939393;
  }

  input {
    background-color: #3b4a5c;
    color: white;
    height: 48px;

    font-weight: 100;
  }



  @background-color: #36414e;
  background-color: @background-color;

  color: #ffffff;

  .thumbnail {
    background-color: @background-color;
    border: 1px solid transparent;
  }

  .double-lines-inside-content {
    background-color: @background-color;
    font-weight: 300;
  }
}

.btn-custom {
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 35px 13px 35px;
  margin: 10px;
  border-radius: 0;

  &:focus {
    border-color: transparent;
  }

}


.btn-red {
  background-color: red;
}

.block-blue-grey {
  .page-header {
    border-bottom-color: darkturquoise;
  }
}

.ready {
  position: relative;
  width: 65px;
  height: 65px;

}

.form-contact {

  text-align: center;
  color: #ffffff;

  h1 {
    font-size: 44px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 20px;
  }

  .phone-code {
    font-size: 18px;
  }

  .phone {
    font-size: 48px;
  }

  .form-inline {

    input[type="text"], textarea {
      font-weight: 100;
    }


    @media (min-width: @screen-sm-min) {

      .btn {
        width: 160px;
        @height: 44px;
        height: @height;
        margin-top: 20px;
      }

      input[type="text"] {
        width: 196px;
        height: 36px;
      }

      textarea {
        width: 640px !important;
      }

      .form-group:nth-of-type(1) {
        margin-left: 0;
      }

      .form-group:nth-last-of-type(2) {
        margin-top: 20px;
        margin-left: 0;
      }

      .form-group {
        margin-left: 23px;
      }

    }

    @media (max-width: @screen-xs-max) {

      input[type="text"], textarea, .btn {
        width: 255px;
        display: inline-block;
      }

    }

  }

  .done-block {
    display: none;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.reset-padding {
  padding: 0;
}


@media (max-width: @screen-xs-max) {
  .text-center-xs {
    text-align: center;
  }
}

@media (min-width: @screen-md-min) {
  .text-right-sm {
    text-align: right;
  }
}