.scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  width: 40px;
  height: 46px;
  background: url("/src/img/icons/scroll-btn.png") no-repeat;
  opacity: .3;

  -webkit-animation: arrows 3.8s infinite;
  animation: arrows 3.8s infinite;
  animation-delay: 1s;
  cursor: pointer;
}

.scroll-btn-white {
  background: url("/src/img/icons/scroll-btn-white.png") no-repeat;
  opacity: 1;
}



@keyframes arrows {
  0% { bottom:20px; }
  10% { bottom:30px; }
  20% { bottom:20px; }
  30% { bottom:30px; }
  40% { bottom:10px; }
  50% { bottom:30px; }
  60% { bottom:20px; }
  70% { bottom:30px; }
  80% { bottom:10px; }
  90% { bottom:30px; }
  100% { bottom:20px; }
}

@-webkit-keyframes arrows {
  0% { bottom:20px; }
  10% { bottom:30px; }
  20% { bottom:20px; }
  30% { bottom:30px; }
  40% { bottom:10px; }
  50% { bottom:30px; }
  60% { bottom:20px; }
  70% { bottom:30px; }
  80% { bottom:10px; }
  90% { bottom:30px; }
  100% { bottom:20px; }
}