<div class="form-group info-presentation">
    <div class="col-xs-11 col-xs-offset-1">
    <h3>Презентация</h3>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
        <span class="value"><i class="fa fa-calendar"></i> 20</span>
        <span>ноября</span>
        <div class="space-15"></div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 form-sign-up-mini-info">
        <span><i class="fa fa-credit-card"></i> Бесплатно</span>
        <span><i class="fa fa-clock-o"></i> 19:00</span>
        <span><i class="fa fa-map-marker"></i> Маяковского, 27</span>
    </div>
    {% if signInButton %}
    <div class="col-xs-12 text-center">
        <div class="space-10"></div>
        <a href="#" class="control btn blue-btn sign-in-btn">Записаться</a>
    </div>
    {% endif %}
</div>