@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-ExtraLight.eot');
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url('/src/fonts/FiraSans/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-ExtraLight.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-Light.eot');
  src: local('Fira Sans Light'), local('FiraSans-Light'), url('/src/fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Light.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-Book.eot');
  src: local('Fira Sans Book'), local('FiraSans-Book'), url('/src/fonts/FiraSans/FiraSans-Book.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Book.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-Regular.eot');
  src: local('Fira Sans'), local('FiraSans-Regular'), url('/src/fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Regular.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('/src/fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Medium.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url('/src/fonts/FiraSans/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-SemiBold.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('/src/fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Bold.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/src/fonts/FiraSans/FiraSans-Italic.eot');
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url('/src/fonts/FiraSans/FiraSans-Italic.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Italic.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans Light';
  src: url('/src/fonts/FiraSans/FiraSans-Hair.eot');
  src: local('Fira Sans Hair'), local('FiraSans-Hair'), url('/src/fonts/FiraSans/FiraSans-Hair.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Hair.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Hair.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Light';
  src: url('/src/fonts/FiraSans/FiraSans-Thin.eot');
  src: local('Fira Sans Thin'), local('FiraSans-Thin'), url('/src/fonts/FiraSans/FiraSans-Thin.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-Thin.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-Thin.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Light';
  src: url('/src/fonts/FiraSans/FiraSans-UltraLight.eot');
  src: local('Fira Sans UltraLight'), local('FiraSans-UltraLight'), url('/src/fonts/FiraSans/FiraSans-UltraLight.eot?#iefix') format('embedded-opentype'), url('/src/fonts/FiraSans/FiraSans-UltraLight.woff') format('woff'), url('/src/fonts/FiraSans/FiraSans-UltraLight.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Intro';
  src: url('/src/fonts/Intro/intro.eot');
  src: local('Intro'), local('Intro Regular'), url('/src/fonts/Intro/intro.eot?#iefix') format('embedded-opentype'), url('/src/fonts/Intro/intro.woff') format('woff'), url('/src/fonts/Intro/intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Inline';
  src: url('/src/fonts/Intro/intro-inline.eot');
  src: local('Intro Inline Regular'), url('/src/fonts/Intro/intro-inline.eot?#iefix') format('embedded-opentype'), url('/src/fonts/Intro/intro-inline.woff') format('woff'), url('/src/fonts/Intro/intro-inline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}