.transparent-btn {
  display: inline-block;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 20px 30px 20px 30px;
  font-size: 0.9em;
  position: relative;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.transparent-btn:hover {
  background: white;
  color: #1f2022;
  text-decoration: none;
}

.transparent-black-btn {
  background-color: transparent;
  border-color: #1f2022;
  color: #1f2022;
}

.transparent-black-btn:hover {

}

.transparent-green-btn {
  background-color: fade(@btn-success-bg, 30%);
  border-color: @btn-success-border;
}

.transparent-green-btn:hover {
  background-color: darken(@btn-success-bg, 10%);
}

.transparent-red-btn {
  background-color: fade(@btn-danger-bg, 30%);
  border-color: @btn-danger-border;
}
.transparent-red-btn:hover {
  background-color: darken(@btn-danger-bg, 10%);
}

