.block-404 {
  overflow: hidden;
  background: #111;
  height: 100%;
  position: relative;
  color: #ffffff;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  p {
    font-size: 60px;
  }

  .message-404 {
    position: absolute;

    right: 20px;
    top: 10px;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 60px;
    }
    p {
      font-size: 29px;
    }
  }
}