.case-card {
  border: 1px solid #e1deda;
  background-color: #FBFBFB;
  margin-bottom: 15px;

  @media (max-width: @screen-sm-min) {

    footer .row{
      margin-left: 0;
    }


  }


  .case-content {
    padding: 20px 40px 20px 40px;
  }

  p {
    font-weight: 200;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    border-bottom: 1px solid #f4f4f4;
    font-weight: 400;
    color: #36414e;
  }

  h3 {
    font-weight: 400;
    font-size: 22px;
  }

  figure {
    img, figcaption {
      margin-bottom: 15px;
    }

    figcaption {
      font-size: 12px;
      color: #a9a9a9;
      font-style: italic;
    }
  }

  footer {
    background: #e1deda;
    padding: 25px 30px 15px 30px;

    h3 {
      margin-top: 0;
    }
  }

}

.border-dash {
  border: 1px solid #e1deda;
  background-color: #FBFBFB;

  h2 {
    display: inline-block;
    margin-top: 0;
    border-bottom: 1px solid #f4f4f4;
    font-weight: 400;
    color: #36414e;
  }

  h3 {
    font-weight: 400;
    font-size: 22px;
  }
  p {
    font-weight: 200;
  }

  img {
    margin-top: 13px;
  }

}

.text-to-form {
  h3 {
    margin-top: 0;
    font-weight: 400;
    font-size: 22px;
  }
  p {
    font-weight: 200;
  }


  background: #e1deda;

  padding: 25px 30px 15px 30px;

}

.front .double-lines-inside-content {
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
 }

.xsmall-text {
  font-size: 10px;
  color: darkgray;
  line-height: 5px;
}

.add-info {
  padding-top: 5px;
  padding-bottom: 5px;
}

.case-text {
  border: 3px solid white;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 3px 3px 9px #808080;
  text-align: left;
}


.podpisat {
  height: 250px;
  width: 248px;
  padding: 10px 20px 10px 20px;
  background-color: #e1deda;

  
  &.affix {
    top: 60px;

  }

  &.affix-bottom {
    position: absolute;
  }

  input, .btn {
    width: 180px;
  }

  h3 {
    margin-top: 4px;
    font-size: 20px;
  }
  .form-group {
    margin: 5px auto;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}