#google-map {
  height: 100px;
}

#contact-page {
  font-size:16px;
  padding:0;
  position:relative;
}

.contact {
  padding:35px;
  margin:0;
  height:500px;
  position:absolute;
  bottom:1px;
  color:#ffffff;
  background:rgba(54, 65, 78, 0.85);
  padding-top: 30px;
  font-weight: 200;
  a {
    color: #ffffff;
  }
  i {
    padding-right: 5px;
  }
  .call {
    border-bottom: 1px solid white;
    display: inline-block;
    padding: 0px 3px;
  }
  .info {
    font-weight: 100;
    padding-left: 5px;
    margin-bottom: 30px;
  }
  .btn {
    width:100%;
  }
  h1 {
    font-weight: 100;
    margin: 20px 0;
    font-size: 16px;
  }

}

.contact .address {
  font-size:21px;
  margin:20px 0;
}

.contact .social {
  margin-top: 15px;
}

#contact-page .gmap_canvas {
  position:relative;
  height:576px;
  width:100%;
}

#contact-page .gmap_canvas img{
  max-width:none!important;
  background:none!important
}