.motivation-block {
  height: 40px;
  background-color: #36414e;
}

.rtb-services {
  .double-lines-inside-content{
    background-color: #272727;
  }
  .advantages {
    color: white;
    background-color: #272727;
  }
}

.fon1 {
  background-color: #FBFBFB;
  padding: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.title-main-contact {
  background-color: #36414e;
  height: 5px;
}
.title-main {
  background-color: #36414e;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  padding: 20px;
  font-size: 35px;

  p {
    margin: 0;
  }
}
@media (max-width: @screen-sm-max) {
  .title-main{
    font-size: 20px;
  }
}


.block-img-1 {
  img {
    margin: 75px 0 41px;

  }
}

.block-img-3 {
  background-image: url("/src/img/services/ind.jpg");
  background-size: cover;
  height: 400px;
  padding: 0;
}

#hidden-block-1, #hidden-block-2, #hidden-block-3 {
  display: none;}

.hidden-block{
  margin-top: 20px;


  img {width: 45px; margin-top: 15px; float: right;}
  hr {margin-top: 0; padding-bottom: 20px;}
}

.white {
  background-color: #ffffff;
}



.service-card {

  border:1px solid #eeeeee;
  background-color: #FBFBFB;
  ul .text-center {
    margin:0;
  }

  h4 .double-lines-inside-content {
    font-weight: 300;
  }
  section, footer {
    padding: 20px 40px;
  }

  footer {
    background-color: #e1deda;
    span {
      margin-left:20px;
      display: block;
    }

  }
  .double-lines-inside-content{
    background-color: #FBFBFB;
  }
  .hidden-block  {
    h4 {
      color:#36414e;
    }
    a {
      text-decoration: underline;
      display: block;
      margin:10px 0;
      color:#005580;
    }
    h4, a {
    font-weight: 200;
    line-height: 1.1;
    font-size: 18px;
    padding-bottom: 5px;
  }
    .fa {
      padding-right:5px;
    }
  }

.but {
  margin-left: 20px;
}

  .block-main {
    h2 {

      font-weight: 200;
      padding-bottom: 5px;
      line-height: 1.1;
      font-size: 32px;
      margin-bottom: 20px;
      color:#36414e;

    }
    @media (max-width: @screen-xs-min) {
       h2 {
        font-size: 26px;
         padding-bottom: 1px;
         border-bottom: 1px solid grey;
      }

    }
    h3 {
      font-size: 25px;
      font-weight: 200;
      line-height: 1.1;
      padding-bottom: 5px;
      color:#36414e;
    }


  }
  .img-thumbnail {
    border: 1px solid #3b4a5c;
  }

}

@media (max-width: @screen-md-min) {

  .service-card {

    span {
      text-align: center;
    }

    section {
      padding-left: 0;
      padding-right: 0;
    }

    .but {
      margin-top: 20px;
      text-align: center;
    }
  }

}

