@import "core/bootstrap/bootstrap";
@import "core/bootstrap/bootstrap-override";
@import "core/fonts";
@import "core/buttons";
@import "core/transparent-buttons";


.page-header {
  text-align: left;
  display: inline-block;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

.img-center {
  margin: 0 auto;
}

//blocks
@import "blocks/blog";

@import "blocks/header";
@import "blocks/footer";

@import "blocks/top";
@import "blocks/index/advantages";
@import "blocks/index/intro-block";
@import "blocks/index/speakers";
@import "blocks/index/changes-history";
@import "blocks/index/form-subscribe";
@import "blocks/index/form-contact";
@import "blocks/index/we-love-change";
@import "blocks/nlp";
@import "blocks/coaching";
@import "blocks/pay-block";


//pages
@import "contacts";
@import "services";
@import "404";
@import "case";

//utils
@import "other/space";
@import "other/loader";
@import "other/other";
@import "other/scroll-btn";

@import "blocks/timeline";



