.advantages {

  padding-bottom: 10px;

  .other-advantages  {
    text-align: center;

    li {
      display: inline-block;
      margin-right: 50px;
      padding-bottom: 15px;

      text-transform: uppercase;

      &:before {
        content: "# ";
        color: grey;
        font-size: 21px;
      }
    }
  }
}

.focus-box {
  margin-bottom: 50px;
  text-align: center;
  height: 300px;
}

.focus-box .service-icon {
  width: 145px;
  height: 145px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #ececec;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.pixeden {
  height: 63px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.pd-icon-experts {
  background: url("/src/img/icons/experts.png") no-repeat;
  width: 100px;
  height: 100px;
}

.pd-icon-shield {
  background: url("/src/img/icons/shield.png") no-repeat;
  width: 100px;
  height: 100px;
}

.pd-icon-result {
  background: url("/src/img/icons/result.png") no-repeat;
  width: 100px;
  height: 100px;
}

.pd-icon-quality {
  background: url("/src/img/icons/quality.png") no-repeat;
  width: 100px;
  height: 100px;
}
.red, .green, .blue, .yellow {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blue:hover .service-icon {
  border: 10px solid #3ab0e2;
}

.green:hover .service-icon {
  border: 10px solid #34d293;
}

.yellow:hover .service-icon {
  border: 10px solid #f7d861;
}

.red:hover .service-icon {
  border: 10px solid #e96656;
}