.changes-history {

  .big-intro {
    text-align: right;
    font-weight: 200;
    font-size: 60px;
    transform: translate(0px, -14px);
  }

  h4 {
    font-weight: 300;
    color: #ffffff;
  }

  p {
    color: #939393;
  }

  .history-block {
    margin-bottom: 28px;
    margin-top: 28px;

    h4 {
      margin-top: 0;
    }
  }

  .history-box {
    text-align: center;
    display:  inline-block;
    float: left;
    width: 75px;
    height: 75px;
    padding-top: 8px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 15px;
    border: 4px solid;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 36px;
  }

  .history-box-red {
    border-color: #C04B4B;
  }

  .history-box-green {
    border-color: #34d293;
  }

  .history-box-blue {
    border-color: #3ab0e2;
  }

  .history-box-yellow {
    border-color: #f7d861;
  }

  .cases-box {
    @media (min-width: @screen-md-min) {
      padding-left: 0;
      padding-right: 0;
    }
  }

}

.changes-case {
  border: 1px solid #808080;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.changes-case:hover {
  transform: translate(0, -5px);
  transition: all 0.1s ease-out;
  -webkit-box-shadow: 0 2px 5px 0 rgba(168, 165, 169, 0.30);
  -moz-box-shadow:    0 2px 5px 0 rgba(168, 165, 169, 0.30);
  box-shadow:         0 2px 5px 0 rgba(168, 165, 169, 0.30);

}
