#form-contact {
  padding-top: 20px;
  padding-bottom: 60px;

  h3 {
    font-weight: 300;

  }

  .done-block {
    display: none;
  }

  @media (min-width: @screen-sm-min) {
    .form-contact .form-group {
      vertical-align: top;
    }
  }

  .form-group {
    .err-msg {
      display: none;
    }
  }

  .form-group-err {
    input {
      border:1px solid rgb(128, 128, 128);
      box-shadow: 0px 0px 27px 0px rgba(63, 226, 226, 0.69);
    }

    .err-msg {
      display: block;
      margin: 5px 0 0 0;
      padding-top: 5px;
      font-weight: 100;
      color:white;
    }
  }

}

