.intro-block {
  text-align: center;

  .intro-services {
    border: 1px solid white;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    margin-bottom: 15px;

    h3 {
      text-transform: uppercase;
      @media (max-width: @screen-xs-max) {
        font-size: 22px;
      }
    }


  }

  h2, h3 {
    font-weight: 400;
  }

  .btn {
    width: 200px;
  }

}