.speaker {
  margin-bottom:30px;



  a {
    text-decoration:none;
    margin:0;
    padding:0;
    color:rgba(255, 255, 255, 0.65);
  }

  img {
    width:100%;
    display: block;
  }

  figure {
    overflow: hidden;
    position: relative;
    display:table;
    width:100%;
  }

  h4 {
    font-weight: 300;
    margin-bottom: 2px;

    @media (max-width: @screen-xs-max) {
      span {
        display: block;
      }
    }
  }

  .title {
    font-weight: 200;
    font-size:12px;
    color: #808080;
  }

  &:hover figcaption {
    opacity: 1;
  }

  figcaption {

    @media (max-width: @screen-xs-max) {
      display: none;
    }

    background: rgba(0, 115, 169, 0.9);
    color: #ffffff;
    display: table-cell;
    width:100%;
    height:100%;
    left: 0;
    opacity: 0;
    padding:15px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;

    h4 {
      color:#ffffff;
      font-weight: 100;
      margin-bottom: 22px;
    }

    p {
      color:#ffffff;
      font-size: 13px;
      font-weight: 200;
      margin-bottom: 0;
    }

    .title {
      color:#888888;
    }

    .social {
      position: absolute;
      bottom: 0px;
      margin:10px 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }


    a, .social a {
      color:rgba(255, 255, 255, .75);
      text-decoration:none;
      margin:0;
      margin-right: 10px;
      padding:0;
    }

    a:hover, .social a:hover{
      color:rgba(255, 255, 255, 1);
      text-decoration:none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

}




