.we-love-changes {
  padding-bottom: 20px;
}

.li-in-line li {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 15px;
  text-transform: uppercase;

  &:before {
    content: "# ";
    color: grey;
    font-size: 21px;
  }
}