.blog-post {

  line-height: 1.8;

  p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 400;
  }

  .post-title {
    margin-bottom: 0;
  }

  header {margin-bottom: 10px;}


  h2 {
    font-size: 28px;
    line-height: 34px;
  }

  h3 {
    font-size: 12px;
  }

}

.blog-index {

  @title-color: black;

  margin-bottom: 40px;

  section, header, footer {
    padding-left: 15px;
    margin-bottom: 15px;
  }

  header, footer {
    font-size: 12px;
  }

  header {

    .post-title a {
      font-size: 30px;
      font-weight: 300;
      color: @title-color;

      &:hover {
        text-decoration: none;
        color: darken(@title-color, 10%);
      }
    }
  }
}

.post-info {
  display: inline-block;
  &:after {
    content: " | ";
  }
  &:last-child:after {
    content: "";
  }
}

ul.post-tags {
  @color: #808080;

  display: inline;
  padding-left: 0;

  li {
    display: inline-block;
    list-style: none;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;

    a {
      text-decoration: underline;
      color: @color;
    }

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &:after {
      content: ',';
      text-decoration: none;
      color: @color;
    }
    &:last-child:after {
      content: '';
    }

  }
}


.blog-index-tags {
  margin-top: 4px;
  width: 263px;

  h3 {
    font-weight: 300;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    margin-bottom: 8px;
    a, span {
      padding: 4px 20px;

      color: #999;
      &.active {
        color: #563d7c;
        border-left: 2px solid #563d7c;
        padding-left: 18px;
      }
    }
    a:hover {

        padding-left: 19px;
        color: #563d7c;
        text-decoration: none;
        background-color: transparent;
        border-left: 1px solid #563d7c;

    }
  }

}