.navbar-custom-coaching {

  border-bottom: none;
  background: url("/src/img/coaching/background.jpg") no-repeat fixed top;
  background-size: cover;

  a {
    color: white;
  }

  a.home:hover span {
    background-position-x: 0 0;
  }

  a.home span {
    background-position: 0 -24px;
  }

}

.coaching-top-background {

  background: url("/src/img/coaching/background.jpg") no-repeat fixed top;
  background-size: cover;

  h1, h2 {
    font-family: 'Intro Inline';
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
  }
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

@media(max-width:767px) {

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  //noinspection CssUnknownTarget
  background: url("/src/img/nlp/banner-bg.jpg") no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}