.footer {
  padding-top: 20px;
  background-color: #272727;
  color: #ffffff;

  .logo {
    font-size: 26px;
    font-weight: 400;
  }
  a.logo {
    color: #ffffff;
  }
  a.logo:hover {
    color: #ffffff;
    text-decoration: none;
  }

  .footer-list {
    a,span{
      color: #bdc3c7;
      font-size: 12px;
    }
    .nlp-footer{
      color:#ffffff;
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 16px;
    margin-top: 10px;
  }

  h3 {
    margin-top: 5px;
    font-size: 12px;
  }

  .author {
    font-size: 12px;
    color: #bdc3c7;
    min-width: 300px;
  }

  .social {
    min-width: 143px;
    img {
      width: 32px;
      height: 32px;
    }
    img:hover {
      opacity: 0.8;
    }

    a:hover {
      text-decoration: none;
    }

    @media (min-width: @screen-md-min) {
      text-align: center;
    }
  }

  .privacy {
    a {
      color: #bdc3c7;
      &:hover {
        text-decoration: underline;
      }
    }

    font-size: 9px;
    margin-top: 5px;
  }

  @media (max-width: @screen-xs-max) {
    h3 {
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }
}