.navbar-custom {

  border: none;
  border-radius:0;
  margin-bottom:0;
  padding:50px 0;

  a {
    color: #000000;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }

  li > a:hover {
    color: #000000;
    text-decoration: underline;
    background-color: transparent;
  }

  @media (max-width: @screen-sm-max) {
    .top-nav-collapse();
  }

  .icon-bar {
    background: #3498db;
  }

  a.home {

    padding: 13px;

    &:hover {
      span {
        background-position: 0 -24px;

      }
    }
    span {
      background: url("/src/img/icons/home.png") no-repeat;
      background-position-x: 0 0;
      height: 24px;
      width: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

  }

  .navbar-brand {
    font-size: 26px;
  }

  &.animation {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}

.top-nav-collapse {
  padding: 0 0;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;

  li > a:hover, a.active {
    color: white;
    text-decoration: none;
    background-color: #3498db;
    transition: background .25s ease-out;
  }
}

.space-for-navabar {
  height: @navbar-height;
}



