.navbar-custom-nlp {

  border-bottom: none;
  background: url("/src/img/nlp/background.jpg") no-repeat fixed top;
  background-size: cover;

  a {
    color: white;
  }

  a.home:hover span {
    background-position-x: 0 0;
  }

  a.home span {
    background-position: 0 -24px;
  }

  .icon-bar {
    background: #ffffff;
  }

  .navbar-collapse {
    border-bottom: 1px solid transparent;
  }

  li > a:hover, a.active {
    color: white;
    text-decoration: none;
    background-color: rgba(52, 152, 219, 0.7);
    transition: background .25s ease-out;
  }

}

.nlp-top-background {

  background: url("/src/img/nlp/background.jpg") no-repeat fixed top;
  background-size: cover;

  h1, h2 {
    font-family: 'Intro Inline';
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
  }

  margin-bottom: 0px;
}

.nlp-sign-in-form {

  @media (min-width: @screen-md-min) {
    &.affix {
      top: 50px;
    }

    &.affix-bottom {
      position: absolute;
    }
  }

  @media (max-width: @screen-sm-max) {
    margin: 0 auto 20px;
  }

  width: 248px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  margin: 20px 0 10px;

  .err-msg {
    text-align: center;
    display: block;
    padding-top: 4px;
    font-size: 13px;
    color: rgb(217, 30, 30);
  }
  .err-input {
    border-color: rgb(252, 0, 0);
  }

  input, .btn, .err-msg {
    width: 180px;
  }

  h3 {
    margin-top: 4px;
    font-size: 20px;
  }

  .form-presentation, .form-training {
    display: none;
  }

  .value {
    font-size: 34px;
    line-height: 1;
  }

  .line-divider {
    font-size: 30px;
    line-height: 1;
  }

  .event-info {
    margin-bottom: 30px;
  }

  .btn-back {
    padding-left: 5px;
    padding-right: 25px;

    .btn {
      width: 40px;
    }
  }
  .margin-right-10 {
    margin-right: 10px;
  }

  @media screen and (min-width: @screen-lg) {
    width: 260px;
    .value {
      font-size: 32px;
    }
  }
}

.nlp-page-content {
  .speak-spis {
    padding: 0;
  }
  .header-pic {
    margin-top: 13px;
    margin-left: 5px;
  }
  .header-present {
    margin-left: 10px;
  }

  .present-block {
    background: rgb(173, 226, 132);
  }
  h2 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 20px;
  }
  .first-ico {
    background: url("/src/img/nlp/Brain-Games1.png") no-repeat;
    width: 65px;
    height: 65px;
  }
  .second-ico {
    background: url("/src/img/nlp/Numbers1.png") no-repeat;
    width: 65px;
    height: 65px;
  }
  .third-ico {
    background: url("/src/img/nlp/parameters1.png") no-repeat;
    width: 65px;
    height: 65px;
  }
  .one-ico {
    background: url("/src/img/nlp/tv.png") no-repeat;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }

  .two-ico {
    background: url("/src/img/nlp/2.png") no-repeat;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }

  .three-ico {
    background: url("/src/img/nlp/3.png") no-repeat;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }


  .fil-ico {
    background: url("/src/img/nlp/fil.png") no-repeat;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }

  .teck-ico {
    background: url("/src/img/nlp/teck.png") no-repeat;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }

  .science-ico {
    background: url("/src/img/nlp/science.png") no-repeat;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }
  .for-you {
    margin-left: 20px;
  }

  .what-is-it-container {

    h1 {
      line-height: 100px;
    }

    h4 {
      font-weight: 400;
    }

    .what-is-it-block {
      padding: 5px;
      border: 2px solid #ececec;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      margin-top: 15px;
      text-align: center;

    }

    .what-is-it-block-header {
      border: 0;
      box-shadow: none;
    }

  }

  .for-what-container {
    h2 {
      margin-top: 0;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      padding: 2px 0;
    }

  }
  .for-who {
    margin: 0 0 10px 0;

  }

  .testimonials {
    text-align: center;
    position: relative;
    display: block;

    blockquote:before {
      content: none;
    }
    blockquote {
      border-left: none;
      padding-left: 0;
      padding-top: 16px;
      text-align: center;
      font-weight: 300;
      @media screen and (max-width: @screen-xs-max) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    span {
      font-weight: 300;
      font-size: 12px;
      margin: 0 auto;
    }
    a {
      display: block;
      font-size: 16px;
      margin-top: 10px;
      white-space: nowrap;
    }
    p {
      font-size: 20px;
      color: #333333;
      width: 80%;
      line-height: 32px;
      display: inline-block;
      margin-left: 20px;
      text-align: left;
    }

  }
  .subtitle {
    font-weight: 300;
  }

  .testi-detail {
    margin: 150px 0 0 0;
  }
  .left-quote {
    float: left;
    margin: 0 0 0 28px;
    position: absolute;
  }
  .right-quote {
    float: right;
    margin: 0 126px 0 0;
  }

  #scroll {
    display: block;
    position: relative;
    bottom: -110px;
  }
  .carousel-inner p {
    color: #000;
    font-size: 24px;
    font-weight: 200;
  }
  .carousel-indicators {
    bottom: -30px;
  }

  .black {
    background-color: #f0ad4e;
  }

  .twitter {
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin: 5px 0 0 0;
    padding: 25px 0;
    text-align: center;
  }
  .carousel-indicators .active {
    background: #a3a3a3 !important;
  }

  .testimonials .block-header {
    float: left;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
  }

  li {
    list-style-type: none; /* Убираем маркеры */
  }
  ul {
    margin-left: 5px; /* Отступ слева в браузере IE и Opera */
    padding-left: 5px; /* Отступ слева в браузере Firefox, Safari, Chrome */
  }

  .img-responsive-who {
    border: 2px solid #3b4a5c;
    padding: 1px;
    width: 380px;
    margin-top: 50px;
  }

  .img-responsive-otziv{
    border: 2px solid #3b4a5c;
    padding: 1px;
  }
  @media (max-width: @screen-sm-max) {
    .img-responsive-who{
      margin-top: 5px;
      width:100%;
    }
  }
  .quote-container {
    border: 1px solid #afddaf;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.775);
      h2 {
        padding: 0;
        border: 0;
      }

    li {
      margin-bottom: 10px;
    }
    .header-present {
      margin-left: 10px;
    }

  }

  .additional-info {
    ul {
      padding-left: 0;
      margin-left: 0;

      li {
        padding: 4px 0;
      }
    }
  }
}

.form-sign-up-mini-info {
  padding-bottom: 10px;
  font-size: 13px;

  span {
    white-space: nowrap;
  }

  span:first-of-type {
    margin-right: 5px;
  }
}

.form-done-block {
  display: none;
  padding: 50px 0;
  text-align: center;

  i {
    font-size: 70px;
    margin-bottom: 15px;
  }

  p {
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 17px;
  }

  a {
    font-size: 14px;
  }

}


.event-map-place-container {
  min-height: 300px;

  .gmap_canvas {
    height: 300px;

    width: 100%;
  }
}