.pay-block {


  border: 2px solid #eee;
  background-color: #FBFBFB;
  padding: 0;

  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding: 25px 0;

  }

  h2 {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  p {
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      font-size: 16px;
      font-weight: 300;
      text-align: left;
      padding-bottom: 7px;
      padding-top: 7px;
      padding-left: 15px;
      border-bottom:2px solid #eee ;

    }
    .first-li {
      border-top:2px solid #eee ;
    }
  }

  .btn {
    margin: 10px 0;
    width: 100%;
    padding: 15px 0;
  }


  .sum {
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #eee ;
  }

  label {
    font-weight: 300;
    font-style: normal;
  }


}

.second-block{
  background: rgba(1,165,219,.06);
  h1 {
    color:#01a5db;
    background: rgba(1, 165, 219, 0.03);
  }

  .btn {
    background: #0098ca;;
  }

  .grey {
      color: rgb(142, 133, 133);
      font-weight: 200;
  }

  li {
    color: #01a5db;
  }

  .sum {
    background: rgba(0, 152, 202, 0.31);
  }

}


.first-block  {
  background: rgba(224, 224, 229, 0.39);

  h1 {
    background: rgba(224, 224, 229, 0.45);
  }

  .btn{
    background: #0098ca;;
  }

  .sum {
    background: rgba(224, 224, 229, 0.45);
  }

  .grey {
    color: rgb(142, 133, 133);
    font-weight: 200;
  }
}

@media (max-width: @screen-sm-max) {
  .pay-block{
    margin-bottom: 25px;
  }
}