.top {
  width: 100%;
  max-height: auto;
  height: 600px;
  margin-bottom: 15px;
  position: relative;
  display: table;

  color: #000000;

  h1, h2 {
    font-family: "Fira Sans Light";
  }

  h1 {
    font-size: 60px;
    margin-top: 0;
  }

  @media (max-width: @screen-xs) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 26px;
    }
  }


  .container {
    display: table-cell;
    vertical-align: middle;
  }

}
